# Globally ignore these files.
*.DS_Store
*.o
*.d
*.swp

# Only add .c, .h, .ld, and Makefiles for projects
TestProject/*
!TestProject/Makefile
!TestProject/*.c
!TestProject/*.h
!TestProject/*.ld

src*/*
!src*/Makefile
!src*/*.c
!src*/*.h
!src*/*.py

!shared*/*.c
!shared*/*.h
!shared*/*.ld
